<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>ヒトコト一覧</h1>
      <%= link_to "ヒトコトを作成する", new_word_path, class: 'btn btn-default' %>
    <% @words.each do |word| %>
    <div class="row">
      <h4><strong><%= word.title %></strong></h4>
      <p><%= word.content %></p>
      <%= link_to "編集", edit_word_path(word.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", word_path(word.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>